name: Build and Deploy Plumber API to Cloud Run

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  PROJECT_ID: ${{ secrets.CLOUD_RUN_PROJECT_NAME }}
  REGION: us-central1
  REPO_NAME: symphonize

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
     
      - id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.CLOUD_RUN_SERVICE_ACCOUNT }}"
    
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
     
      - name: Enable component beta
        run: gcloud components install beta
      
      - name: Authorize Docker push
        run: gcloud auth configure-docker
     
      - name: Build and tag the docker image
        run: |-
          docker build . --tag gcr.io/$PROJECT_ID/$REPO_NAME:$GITHUB_SHA
     
      - name: Push the image to the Google Container Registry (GCR)
        run: |-
          docker push gcr.io/$PROJECT_ID/$REPO_NAME:$GITHUB_SHA
     
      - name: Deploy
        run: |-
          gcloud beta run deploy $REPO_NAME \
          --region $REGION \
          --image gcr.io/$PROJECT_ID/$REPO_NAME:$GITHUB_SHA \
          --port 8000 \
          --timeout 900s \
          --platform "managed" \
          --allow-unauthenticated \
          --execution-environment gen2 \
          --add-volume=name=in-memory-1,type=cloud-storage,bucket=rlang \
          --add-volume-mount=volume=in-memory-1,mount-path=/mnt/my-volume
      
